<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= 'static/styles.css?v1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>POKEBUY | Buy your pokemon here</title>
    </head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    <img src="static/logo.JPG">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="active">HOME</a></li>
                    <li><a href="#">BEST SELLER</a></li>
                    <li><a href="#">NEW ARRIVALS</a></li>
                    <li><a href="#">SALE</a></li>
                    <img src="static/cart.png" width="25px" height="25px">
                </ul>
            </nav>
        </div>
    </div>
    