<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= 'static/nastyle.css?v1'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>POKEBUY NEW ARRIVAL | Buy your pokemon here</title>
    </head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    <img src="static/logo.JPG">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000">HOME</a></li>
                    <li><a href="store">STORE</a></li>
                    <li><a href="newarrival" class="active">NEW ARRIVALS</a></li>
                    <li><a href="sale">SALE</a></li>
                    <img src="static/cart.png" width="25px" height="25px">
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <h1>New Arrivals just for you!</h1>
            <p>It is now your turn to get these pokemons in your pocket. The time has come!</p>
        </div>
    </div>
        <h2 class="title">New Arrivals</h2>
        <div class="row2">
            <div class="col-4">
                <img src="static/charmander.png">
                <h4>Charmander</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$10.00</p>
            </div>
            <div class="col-4">
                <img src="static/charmeleon.png">
                <h4>Charmeleon</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="static/charizard.png">
                <h4>Charizard</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$30.00</p>
            </div>
        </div>
        <div class="row2">
            <div class="col-4">
                <img src="static/squirtle.png">
                <h4>Squirtle</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$10.00</p>
            </div>
            <div class="col-4">
                <img src="static/wartortle.png">
                <h4>Wartortle</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="static/blastoise.png">
                <h4>Blastoise</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$30.00</p>
            </div>
        </div>
    </div>
<!-- -----footer----- -->
    <div class="footer">
        <div class="container">
            <div class="row2">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download app for Android and IOS mobile phone.</p>
                    <div class="app-logo">
                        <img src="static/apl2.png">
                        <img src="static/playstr2.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="static/logo.JPG">
                    <p>Our purpose is to provide you the best quality Pokemon with the lowest value.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <Li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <Li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2022 - POKEBUY| Claire Jaroonjetjumnong</p>
        </div>
    </div>
</body>
</html>